body{
    background-color: rgba(61, 54, 70, 0.893);
}
form{
    margin-top: 300px;
}
@media (min-width:850px) {
    input{
        font-size: 30px;
    }
}
@media (max-width:850px) {
    input{
        font-size: 50px;
    }
}